@charset "UTF-8";
@import url("reset.css");

.login-line{
    display: flex;
    margin-bottom: 45px;
    margin-top: 20px;
    justify-content: space-around;
}

.img{
    display: flex;
}

.main-img{
    margin-left: 50px;
    width: 500px;
    height: 120px;
    margin-bottom: 50px;
}

.gi {
    font-size: 40px;
}

.header{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.container{
    margin-top: 100px;
}

.nav-pills{
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 50px;
    padding-right: 50px;
    opacity: 65%;
}

hr{
    margin-top: 25px;
    opacity: 50%;
}

#footer{ 
    position: absolute;
    bottom: 0px; 
    width: 800px;
    height: 170px;
    margin-top: 100px;
    border-radius: 10%;
    margin-left: 150px;
}

.footer-img{
    justify-content: center;
    border-radius: 30%;
    margin-left: 700px;
}



body{
    height: 1000px;
}

table, tr{
    border:1px solid rgb(93%, 93%, 93%);
    width: 1100px;
    text-align: center;
    margin: 0 auto;
    opacity: 90%;
    height: 30px;
    padding-top: 50px;
    margin-top: 100px;
    align-items: center;
    vertical-align:center;
}




.main{
    margin-top: 20px;
    margin-bottom: 100px;
}

.p{
    margin-top: 50px;
    margin-left: 640px;
}

.pp {
    width: 600px;
    margin-top: 5px;
    text-align: center;
}

.p{
    margin-top: 50px;
    margin-left: 640px;
}

.pp {
    width: 600px;
    margin-top: 5px;
    text-align: center;
}


.menubar li ul {
    display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
    height:20px;
    padding-top: 5px;
    border:0px;
    position:absolute;
    width:200px;
    z-index:200;
    }

.menubar li:hover ul {
    display:block;   /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
    }

 .h1{
     text-align: center;
     margin-right: 950px;
     margin-bottom: -80px;
     margin-top: 100px;
     font-size: 30px;
    }


.nav-link{
    font: outline;
    font-size: 22px;
    opacity: 80%;
}

th,td {
	padding-top:7px;
}

th{
	font-size:17px;
}